<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link href="../css/micss.css" rel="stylesheet">
        <script src="../js/primer_js.js"></script>
        <script src="../jquery/jquery-3.5.0.js"></script>
        <script>
            $(function () {
                $("body").hide().fadeIn(3000);
            });
        </script>

    </head>
    <body>
        <h1>Hola Alumnos</h1>
        <p>Bienvenidos al curso de JavaScript de <span>Olonte Apps</span></p>
        <img src="../images/tuxremoto.jpg" alt="imagen" width="10%">
    </body>
</html>